<header class="header">
  <!-- Bouton hamburger (menu) à gauche du titre -->
  <button class="menu-button" (click)="toggleSidenav()">
      <div></div>
      <div></div>
      <div></div>
  </button>
   <!-- Logo -->
   <div class="header-title">
    <div class="logo">
      SIMSOFT & SIMSOFT <span>WARE</span>
    </div>
    <div class="vertical-line"></div>
  </div>

  

   <!-- Barre de recherche -->
   <div class="search-bar">
       <input type="text" placeholder="Rechercher">
       <i class="fas fa-search"></i> 
   </div>

   <!-- Actions à droite -->
   <div class="actions">
       <a href="#" class="action-item">FR</a>
       <i class="fas fa-bell notification-icon"></i>
       <button class="action-item" (click)="logout()">SA</button>
   </div>
  
</header>