body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #f0f0f0;
  height: 100px;
}

.menu-button {
  color: #fa9745;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 20px;
}

.menu-button div {
  background-color: #fa9745;
  width: 30px;
  height: 3px;
  border-radius: 2px;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-size: 23px;
  font-weight: bold;
  color: black;
  white-space: nowrap;
  line-height: 1.2;
}

.logo span {
  display: block;
}

.vertical-line {
  width: 2px;
  height: 400px;
  background-color: #f0f0f0;
  margin: 0 48px;
}

.search-bar {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  border-radius: 12px;
  padding: 15px;
  margin-left: auto;
  width: 300px;
  margin-right: 25px;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  width: 100%;
}

.search-bar i {
  color: #929191;
  font-size: 18px;
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
  gap: 25px;
}

.action-item {
  text-decoration: none;
  color: white;
  background-color: #fa9745;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
}

.notification-icon {
  font-size: 25px;
  color: transparent;
  -webkit-text-stroke: 1.5px black;
  cursor: pointer;
  position: relative;
}

.notification-icon::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .search-bar {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .header {
    height: auto;
    padding: 15px;
  }

  .header-title {
    display: flex;
    align-items: center;
    gap: 0px;
  }
  
  .logo {
    font-size: 19px;
  }
  
  .logo span {
    display: block;
  }
  
  .vertical-line {
    width: 2px;
    height: 70px;
    margin: 0 25px;
  }
  
  .search-bar {
    width: 200px;
  }
  
  .actions {
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .header {
    flex-wrap: wrap;
  }
  
  .menu-button {
    order: 1;
  }
  
  .header-title {
    order: 2;
    flex-grow: 1;
    justify-content: center;
  }
  
  .logo span {
    display: inline;
  }

  .vertical-line {
    display: none;
  }
  
  .search-bar {
    order: 4;
    width: 65%;
    margin: 10px 5px;
  }
  
  .actions {
    order: 4;
    
  }
}

@media (max-width: 406px) {
  .header {
    flex-wrap: wrap;
  }
  
  .menu-button {
    order: 1;
  }
  
  .header-title {
    order: 2;
    flex-grow: 1;
    justify-content: center;
  }

  .logo {
    font-size: 20px;
    margin-right: 6px;
  }
  
  .logo span {
    display: inline;
  }
  
  .search-bar {
    order: 4;
    width: 60%;
    margin: 10px 5px;
  }
  
  .actions {
    order: 4;
    
  }
}

@media (max-width: 359px) {
  .header {
    flex-wrap: wrap;
  }
  
  .menu-button {
    order: 1;
  }
  
  .header-title {
    order: 2;
    flex-grow: 1;
    justify-content: center;
  }

  .logo {
    font-size: 18px;
    margin-right: 0px;
  }
  
  .logo span {
    display: inline;
  }
  
  .search-bar {
    order: 4;
    width: 55%;
    margin: 10px 5px;
  }
  
  .actions {
    order: 4;
    
  }
}