<div class="container">
  <div class="header">
    <h2>Mes Tickets</h2>
    <!-- Boutons pour basculer entre les filtres -->
    <div class="filter-buttons">
      <button (click)="showDirectTickets()" [class.active]="currentFilterType === 'associated'">
        Tickets Directs
      </button>
      <button (click)="showProjetUserTickets()" [class.active]="currentFilterType === 'projetUser'">
        Tickets via ProjetUser
      </button>
    </div>
    <!-- Barre de recherche -->
    <div class="search-wrapper">
      <input type="text" placeholder="Rechercher un ticket..." 
             [(ngModel)]="ticketsSearchTerm" (ngModelChange)="onSearchChange()">
      <span class="material-icons search-icon">search</span>
    </div>
  </div>
  
  <!-- Affichage de la liste des tickets -->
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Titre</th>
        <th>Qualification</th>
        <th>Projet</th>
        <th>Catégorie</th>
        <th>Priorité</th>
        <th>Statut</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of paginatedResult?.items">
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.title }}</td>
        <td>{{ ticket.qualificationId }}</td>
        <td>{{ ticket.projet?.nom || 'Non défini' }}</td>
        <td>{{ ticket.problemCategory?.nom || 'Non défini' }}</td>
        <td>{{ ticket.priorityId }}</td>
        <td>{{ ticket.statutId }}</td>
      </tr>
      <tr *ngIf="paginatedResult?.items?.length === 0">
        <td colspan="7">
          <div class="no-content">
            <span class="icon">✕</span>
            <p>Aucun ticket trouvé</p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <div class="pagination-container">
    <div class="pagination-info">
      Affichage de 
      {{ (((paginatedResult?.pagination?.currentPage || 1) - 1) * (paginatedResult?.pagination?.itemsPerPage || pageSize)) + 1 }}
      à 
      {{ ((paginatedResult?.pagination?.currentPage || 1) * (paginatedResult?.pagination?.itemsPerPage || pageSize)) >
      (paginatedResult?.pagination?.totalItems || 0)
        ? (paginatedResult?.pagination?.totalItems || 0)
        : ((paginatedResult?.pagination?.currentPage || 1) * (paginatedResult?.pagination?.itemsPerPage || pageSize)) }}
      sur {{ paginatedResult?.pagination?.totalItems || 0 }} résultats
    </div>
    <div class="pagination-controls">
      <button (click)="onPageChange(pageNumber - 1)" [disabled]="pageNumber <= 1">
        &laquo;
      </button>
      <input type="number" [(ngModel)]="jumpPage" (keyup.enter)="jumpToPage()" min="1" 
             [max]="paginatedResult?.pagination?.totalPages || 1">
      <span>/ {{ paginatedResult?.pagination?.totalPages || 1 }}</span>
      <button (click)="onPageChange(pageNumber + 1)" 
              [disabled]="pageNumber >= (paginatedResult?.pagination?.totalPages || 1)">
        &raquo;
      </button>
    </div>
  </div>
</div>
