<div class="update-form">
  <h2>Modifier le pays</h2>
  <form [formGroup]="paysForm" (ngSubmit)="onSubmit()">
    <!-- Champ Nom -->
    <div class="form-group">
      <label for="nom">Nom du pays</label>
      <input 
        type="text" 
        id="nom" 
        formControlName="nom" 
        class="form-control"
      />
    </div>
    <!-- Champ Code Téléphonique -->
    <div class="form-group">
      <label for="codeTel">Code Téléphonique</label>
      <input 
        type="text" 
        id="codeTel" 
        formControlName="codeTel" 
        class="form-control"
      />
    </div>
    <!-- Champ Fichier -->
    <div class="form-group">
      <label for="file">Photo du pays</label>
      <input 
        type="file" 
        id="file" 
        (change)="onFileSelected($event)" 
        class="form-control"
      />
    </div>
    <!-- Boutons -->
    <button type="submit" class="btn btn-primary" [disabled]="isLoading">
      <ng-container *ngIf="!isLoading; else loadingCreate">
        Mettre à jour
      </ng-container>
      <ng-template #loadingCreate>
        <span class="spinner"></span> Mettre à jour
      </ng-template>
    </button>
    <button class="btn btn-secondary"  (click)="annuler()"  >Annuler</button>
  </form>
</div>
