.update-form {
  max-width: 800px;
  height: 650px;
  margin: 70px auto;
  padding: 80px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.update-form h2 {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 60px;
  text-align: center;
  font-weight: 500;
}

.form-group {
  margin-bottom: 45px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-size: 1rem;
  font-weight: 500;
}

.form-control {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
  outline: none;
  border-color: #fa9745;
  box-shadow: 0 0 0 3px rgba(250, 151, 69, 0.2);
}

input[type="file"].form-control {
  padding: 8px;
}

.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn-primary {
  background-color: #fa9745;
  color: white;
  margin-right: 15px;
}

.btn-primary:hover {
  background-color: #f38932;
}

.btn-secondary {
  background-color: #fc5203;
  color: white;
}

.btn-secondary:hover {
  background-color: #e74a01;
}

.form-container input.is-invalid,
.form-container select.is-invalid {
  border-color: rgb(232, 2, 2);;
}

.required {
  color: red;
}


/* Responsive design */
@media (max-width: 768px) {
  .update-form {
    margin: 20px;
    padding: 20px;
  }
  
  .form-control {
    padding: 10px;
  }
  
  .btn {
    margin-bottom: 10px;
  }
}