/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/googleapi.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.material-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* Container principal */
.sidenav-container {
  height: 100%;
}

.sidenav-container.modal-open mat-sidenav {
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.3s ease;
}

.sidenav-container.modal-open .menu-item {
  color: white !important;
}

.sidenav-container.modal-open .nav-icon {
  -webkit-text-stroke: 1.5px rgba(255, 255, 255, 0.5) !important;
}


/* Barre latérale */
mat-sidenav {
  width: 400px;
  background: white;
  border-right: 1px solid #f0f0f0;
  display: flex;
  z-index: 1000;
}

/* Menu de navigation */
mat-nav-list {
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
}



/* Style des liens */
.menu-item {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 15px;
  transition: all 0.3s ease;
  flex-wrap: wrap;  /* Permet le retour à la ligne */
  white-space: normal;  /* Autorise le texte à aller à la ligne */
  overflow: visible;
  text-overflow: clip; /* Ajoute "..." si le texte est trop long */
  
}




/* Icônes dans la navigation */
.nav-icon {
  color: white; /* Couleur de l'icône en blanc */
  -webkit-text-stroke: 1.5px black; /* Contour noir autour de l'icône */
  margin-right: 14px;
  opacity: 0.7;
  font-size: 28px;
  width: 30px;
  height: 25px;
}



.nav-text {
  margin-top: 7px;
  font-size: 16px;
  font-weight: 550;
  color: #333;
}


/* Style pour l'item actif */
/* Force la couleur de fond sur l’élément actif */
::ng-deep .mat-mdc-list-item.active-nav-item,
::ng-deep .mat-mdc-list-item.active-nav-item:hover,
::ng-deep .mat-mdc-list-item.active-nav-item:focus,
::ng-deep .mat-mdc-list-item.active-nav-item:active,
::ng-deep .mat-mdc-list-item.active-nav-item.mdc-list-item--activated {
  background-color: #fa9745 !important;
  color: #fff !important;
}


.active-nav-item {
  background-color: #fa9745 !important;
  color: white !important;
  border-radius: 15px !important;
  opacity: 1 !important;
}

.active-nav-item .nav-icon {
  color: #fa9745  !important;
  -webkit-text-stroke: 1.5px white;
  opacity: 1;
}
.active-nav-item .nav-text {
  color: white !important;
  opacity: 1;
}


/* Contenu principal */
mat-sidenav-content {
  background-color: #ebeaea;
}

/* Style pour la flèche à droite et titre */
.section-title {
  display: flex;
  justify-content: space-between; /* Aligne les éléments à gauche et à droite */
  align-items: center;
  padding: 10px 16px;
  cursor: pointer;
}

.section-title-text {
  margin-left: 18px;
  font-size: 17px;
  font-weight: bold;
  color: #474646;
  flex-grow: 1;  /* Prend tout l'espace restant */
}

/* Flèche de la section */
.section-title .nav-icon {
  margin-left: auto;  /* Pousse l'icône à droite */
  color: #666;
  -webkit-text-stroke: 0px white;
  width: 22px;
  height: 20px;
  opacity: 0.5;
}

/* Séparateur de section */
.section-divider {
  border: none;
  height: 1px;
  background-color: #eeebeb;
  margin: 8px 0;
}

/* Effet hover sur les liens */
mat-nav-list a:hover:not(.active-nav-item) {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 15px !important;
}

/* Style spécifique pour les sous-sections */
.sub-nav-item {
  padding-left: 32px !important;
}




.dashboard-container.modal-open {
  background-color: #333; /* Exemple : fond assombri lorsque le modal est ouvert */
  transition: background-color 0.3s ease;
}



@media (max-width: 768px) {
  .sidenav-container {
    display: block; /* Empêche le sidenav de rester figé sur mobile */
  }

  .mat-sidenav-content {
    margin-left: 0;  /* Assure que le contenu se réorganise correctement */
  }

  .section-title-text {
    margin-left: 5px;
  }
  
  mat-sidenav {
    width: 290px;
  }

  

  mat-nav-list {
    padding-top: 20px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .menu-item {
    padding: 5px 0px;
    font-size: 1rem;
  }
    
  /* Icônes dans la navigation */
  .nav-icon {
    margin-right: 10px;
    opacity: 0.7;
    font-size: 25px;
    width:25px;
    height: 25px;
  }
  
  .nav-text {
    margin-top: 7px;
    font-size: 14px;
    font-weight: 550;
  }
  

}

@media (max-width: 480px) {
  .sidenav-container {
    display: block; /* Empêche le sidenav de rester figé sur mobile */
  }

  .mat-sidenav-content {
    margin-left: 0;  /* Assure que le contenu se réorganise correctement */
  }

  .section-title-text {
    margin-left: 5px;
  }
  
  mat-nav-list {
    padding-top: 20px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .menu-item {
    padding: 5px 0px;
    font-size: 1rem;
  }
    
  /* Icônes dans la navigation */
  .nav-icon {
    margin-right: 10px;
    opacity: 0.7;
    font-size: 25px;
    width:25px;
    height: 25px;
  }
  
  .nav-text {
    margin-top: 7px;
    font-size: 14px;
    font-weight: 550;
  }
  

  
}