<div class="container">
  <div class="custom-card">
    <div class="custom-card-header">
      <h3>SIMSOFT</h3>
      <h4>Connectez-vous à votre compte</h4>
    </div>
    <div class="custom-card-body">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <!-- Email Field -->
        <div class="form-group">
          <label for="email">Adresse e-mail <span class="text-danger">*</span></label>
          <input
            id="email"
            formControlName="email"
            type="email"
            class="form-control"
            placeholder="superadmin@example.com"
            [ngClass]="{ 'is-invalid': (loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || formSubmitted)) }"
          />
          <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || formSubmitted)" class="text-danger">
            <small *ngIf="loginForm.get('email')?.errors?.['required']">L'adresse e-mail est requise.</small>
            <small *ngIf="loginForm.get('email')?.errors?.['email']">Veuillez entrer une adresse e-mail valide.</small>
          </div>
          <!-- Backend Error -->
          <div *ngIf="loginError.email" class="text-danger">
            {{ loginError.email }}
          </div>
        </div>

        <!-- Password Field -->
        <div class="form-group">
          <label for="password">Mot de passe <span class="text-danger">*</span></label>
          <div class="input-container">
            <input
              id="password"
              formControlName="password"
              [type]="passwordVisible ? 'text' : 'password'" 
              class="form-control"
              placeholder="Mot de passe"
              [ngClass]="{ 'is-invalid': (loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || formSubmitted)) }"
            />
            <button 
              type="button" 
              (click)="togglePasswordVisibility()" 
              class="password-toggle" 
              aria-label="Toggle password visibility">
              <i [ngClass]="passwordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"></i> <!-- Icône d'œil -->
            </button>
          </div>
          <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || formSubmitted)" class="text-danger">
            <small *ngIf="loginForm.get('password')?.errors?.['required']">Le mot de passe est requis.</small>
          </div>
          <div *ngIf="loginError.password" class="text-danger">
            {{ loginError.password }}
          </div>
        </div>  

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary" [disabled]="isLoading">
          <ng-container *ngIf="!isLoading; else loadingTpl">Connexion</ng-container>
          <ng-template #loadingTpl>
            <!-- Vous pouvez définir ici votre animation ou spinner -->
            <span class="spinner"></span> Connexion
          </ng-template>
        </button>
        <div class="forgot-password">
          <a [routerLink]="['/forgot-password']">Mot de passe oublié ?</a>
        </div>        
      </form>
    </div>
  </div>
</div>
