<div class="container">
  <div class="header">
    <h2>Liste des pays</h2>
    <button class="add-user-btn" routerLink="/home/Pays/ajouterPays">
      <span class="material-icons">add</span> Ajouter
    </button>
  </div>

  <div class="pays-grid" *ngIf="paysList.length > 0; else noPays">
    <div *ngFor="let pays of paysList" class="pays-card">
      <img [src]="pays.photoUrl" [alt]="pays.nom" class="card-img-top">
      <div class="pays-info-container">
        <div class="pays-info">
          <h3>{{ pays.nom }}</h3>
          <p class="pays-code">Code: {{ pays.codeTel }}</p>
        </div>
        <div class="actions">
          <!-- Bouton Modifier -->
          <button class="edit-btn" (click)="editPays(pays.idPays.toString())">
            <span class="material-icons">edit</span>
          </button>

          <!-- Bouton Supprimer -->
          <button class="delete-btn" (click)="deletePays(pays.idPays)">
            <span class="material-icons">delete</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noPays>
    <p class="no-data">Aucun pays trouvé.</p>
  </ng-template>
</div>
