<div class="modal-backdrop" (click)="onBackdropClick()">
  <div class="modal-show" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h5 class="modal-title">Choisir le type de projet</h5>
    </div>
    <div class="modal-body">
      <p>
        Veuillez choisir si ce projet est destiné à une Société ou à un Client :
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="selectProjectType(true)">
        Société
      </button>
      <button type="button" class="btn btn-secondary" (click)="selectProjectType(false)">
        Client
      </button>
    </div>
  </div>
</div>