<!-- HTML pour la card -->
<div class="card-container">
  <div class="card">
    <div class="card-header">
      <h2>Créer Utilisateur</h2>
    </div>
    <div class="card-body">
      <div class="form-container">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="form-row">
            <div class="form-group">
              <label for="lastName">Nom <span class="required">*</span></label>
              <input id="lastName" type="text" formControlName="lastName" class="form-control"
                [class.is-invalid]="registerForm.controls['lastName'].touched && registerForm.controls['lastName'].invalid" />
              <div *ngIf="registerForm.controls['lastName'].hasError('required')" class="invalid-feedback text-start">
                Nom est obligatoire
              </div>
            </div>

            <div class="form-group">
              <label for="firstName">Prénom <span class="required">*</span></label>
              <input id="firstName" type="text" formControlName="firstName" class="form-control"
                [class.is-invalid]="registerForm.controls['firstName'].touched && registerForm.controls['firstName'].invalid" />
              <div *ngIf="registerForm.controls['firstName'].hasError('required')" class="invalid-feedback text-start">
                Prénom est obligatoire
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="email">Email <span class="required">*</span></label>
              <input id="email" type="email" formControlName="email" class="form-control"
                [class.is-invalid]="registerForm.controls['email'].touched && registerForm.controls['email'].invalid" />
              <div *ngIf="registerForm.controls['email'].hasError('required')" class="invalid-feedback text-start">
                Email est obligatoire
              </div>
              <div *ngIf="registerForm.controls['email'].hasError('email')" class="invalid-feedback text-start">
                Email invalide
              </div>
            </div>
            <div class="form-group">
              <label for="pays">Pays <span class="required">*</span></label>
              <select id="pays" formControlName="pays" class="form-control"
                [class.is-invalid]="registerForm.get('pays')?.touched && registerForm.get('pays')?.invalid">
                <option value="" disabled selected> Sélectionnez un pays </option>
                <option *ngFor="let p of paysList" [value]="p.idPays">{{ p.nom }}</option>
              </select>
              <div *ngIf="registerForm.get('pays')?.hasError('required')" class="invalid-feedback text-start">
                Pays est obligatoire
              </div>
            </div>
          </div>

          <!-- Autres champs du formulaire... -->
          <div class="form-row">
            <div class="form-group">
              <label for="role">Rôle <span class="required">*</span></label>
              <select id="role" formControlName="role" class="form-control"
                [class.is-invalid]="registerForm.controls['role'].touched && registerForm.controls['role'].invalid">
                <option value="">Sélectionnez un rôle</option>
                <option *ngFor="let r of roles" [value]="r.name">{{ r.name }}</option>
              </select>
              <div *ngIf="registerForm.controls['role'].hasError('required')" class="invalid-feedback text-start">
                Le rôle est obligatoire.
              </div>
            </div>

            <div class="form-group">
              <label for="societe">Société</label>
              <select id="societe" formControlName="societe" class="form-control"
                [class.is-invalid]="registerForm.get('societe')?.touched && registerForm.get('societe')?.invalid">
                <option value="">Sélectionnez une société</option>
                <option *ngFor="let s of societesList" [value]="s.id">{{ s.nom }}</option>
              </select>
              <div *ngIf="registerForm.get('societe')?.hasError('required')" class="invalid-feedback text-start">
                Société est obligatoire
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="password">Mot de passe <span class="required">*</span></label>
              <div class="password-container">
                <input id="password" [type]="passwordVisible ? 'text' : 'password'" formControlName="password"
                  class="form-control"
                  [class.is-invalid]="registerForm.controls['password'].touched && registerForm.controls['password'].invalid" />
                <i class="fa" [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"
                  (click)="togglePasswordVisibility()"></i>
                <div *ngIf="registerForm.controls['password'].hasError('required')" class="invalid-feedback text-start">
                  Mot de passe est obligatoire
                </div>
                <div *ngIf="registerForm.controls['password'].hasError('minlength')" class="invalid-feedback text-start">
                  Mot de passe doit avoir au moins 8 caractères
                </div>
                <div *ngIf="registerForm.controls['password'].hasError('maxlength')" class="invalid-feedback text-start">
                  Mot de passe ne doit pas dépasser 16 caractères
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="numTelephone">Numéro de Téléphone <span class="required">*</span></label>
              <div class="input-group">
                <!-- Préfixe téléphonique affiché automatiquement, si disponible -->
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <img *ngIf="selectedCountry?.photoUrl"
                         [src]="selectedCountry?.photoUrl"
                         alt="{{selectedCountry?.nom}}"
                         style="width: 24px; height: auto; margin-right: 5px;" />
                    {{ selectedCountry?.codeTel || '+XX' }}
                  </span>
                </div>
            
                <input id="numTelephone" type="tel"
                       formControlName="numTelephone"
                       class="form-control"
                       [class.is-invalid]="registerForm.controls['numTelephone'].touched && registerForm.controls['numTelephone'].invalid" />
              </div>
            
              <div *ngIf="registerForm.controls['numTelephone'].hasError('required')" class="invalid-feedback text-start">
                Numéro de téléphone est obligatoire
              </div>
              <div *ngIf="registerForm.controls['numTelephone'].hasError('pattern')" class="invalid-feedback text-start">
                Numéro de téléphone invalide
              </div>
            </div>                      
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="confirmPassword">Confirmer le mot de passe <span class="required">*</span></label>
              <div class="password-container">
                <input id="confirmPassword" [type]="confirmPasswordVisible ? 'text' : 'password'"
                  formControlName="confirmPassword" class="form-control"
                  [class.is-invalid]="registerForm.controls['confirmPassword'].touched && registerForm.controls['confirmPassword'].invalid" />
                <i class="fa" [ngClass]="confirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"
                  (click)="toggleConfirmPasswordVisibility()"></i>
                <div *ngIf="registerForm.controls['confirmPassword'].hasError('required')"
                  class="invalid-feedback text-start">
                  Confirmation du mot de passe est obligatoire
                </div>
                <div *ngIf="registerForm.controls['confirmPassword'].hasError('isMatching')"
                  class="invalid-feedback text-start">
                  Les mots de passe ne sont pas identiques
                </div>
              </div>
            </div>

            <div class="form-group toggle-container">
              <div class="toggle-row">
                <div class="toggle-group">
                  <label for="actif">Actif <span class="required">*</span></label>
                  <div class="toggle-switch">
                    <input type="checkbox" id="actif" formControlName="actif" />
                    <label for="actif" class="toggle-label"></label>
                  </div>
                </div>
                <div class="toggle-group"
                  [matTooltip]="registerForm.get('societe')?.value ? 'Un utilisateur lié à une société ne peut pas créer de contrat.' : ''"
                  matTooltipPosition="above">
                  <label for="contrat">Contrat</label>
                  <div class="toggle-switch">
                    <input type="checkbox" id="contrat" formControlName="contrat" (change)="onContractChange($event)" />
                    <label for="contrat" class="toggle-label"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="button-group">
            <button type="submit" class="btn-create">Créer</button>
            <button type="button" class="btn-add" (click)="createAndReset()">Créer & Ajouter un autre</button>
            <button type="button" class="btn-cancel" (click)="cancel()">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>