<div class="notif-header">
  <h3>Mes notifications</h3>
</div>

<div *ngIf="notifications.length; else noNotifs">
  <ul class="notif-list">
    <li *ngFor="let n of notifications" [class.unread]="!n.isRead">
      <div class="notif-content" (click)="goTo(n)">
        <strong>{{ n.dateEnvoi | date:'dd/MM/yyyy HH:mm' }}</strong>
        <p>{{ n.message }}</p>
      </div>
      <button
        class="delete-btn"
        aria-label="Supprimer notification"
        (click)="openConfirm(n); $event.stopPropagation()">
        ×
      </button>
    </li>
  </ul>  
  
</div>

<ng-template #noNotifs>
      <div class="no-content">
        <span class="icon">✕</span>
        <p>Aucune notification pour l’instant.</p>
      </div>
</ng-template>