<div class="container">
  <h2>Ajouter un pays</h2>
  <form [formGroup]="paysForm" (ngSubmit)="onSubmit()">
    
    <!-- Champ Nom -->
    <div class="form-group">
      <label for="nom">Nom du pays <span class="required">*</span></label>
      <input 
        type="text" 
        id="nom" 
        formControlName="nom" 
        class="form-control"
        [class.is-invalid]="paysForm.get('nom')?.invalid && paysForm.get('nom')?.touched"
      />
      <div *ngIf="paysForm.get('nom')?.invalid && paysForm.get('nom')?.touched" class="invalid-feedback text-start">
        Le nom du pays est obligatoire.
      </div>
    </div>

    <!-- Champ Fichier -->
    <div class="form-group">
      <label for="selectedFile">Photo du pays <span class="required">*</span></label>
      <input 
        type="file" 
        id="selectedFile" 
        (change)="onFileSelected($event)" 
        class="form-control"
        [class.is-invalid]="paysForm.get('selectedFile')?.invalid && paysForm.get('selectedFile')?.touched"
      />
      <div *ngIf="paysForm.get('selectedFile')?.invalid && paysForm.get('selectedFile')?.touched" class="invalid-feedback text-start">
        La photo du pays est obligatoire.
      </div>
    </div>

    <!-- Boutons -->
    <button type="submit" class="btn btn-primary">Ajouter</button>
    <button class="btn btn-secondary" routerLink="/home/Pays">Annuler</button>
  </form>
</div>
