.container {
  max-width: 800px;
  height: 600px;
  margin: 70px auto;
  padding: 80px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500;
}

.form-group {
  margin-bottom: 50px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-size: 1rem;
  font-weight: 500;
}

.form-control {
  width: 100%;
  height: 45px;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
  outline: none;
  border-color: #fa9745;
  box-shadow: 0 0 0 3px rgba(250, 151, 69, 0.2);
}

input[type="file"].form-control {
  height: 45px;
  padding: 8px;
}

.btn {
  height: 45px;
  padding: 0 24px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  margin-top: 40px;
  margin-right: 15px;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn-primary {
  background-color: #fa9745;
  color: white;
}

.btn-primary:hover {
  background-color: #f38932;
}

.btn-secondary {
  background-color: #fc5203;
  color: white;
}

.btn-secondary:hover {
  background-color: #e74a01;
}

.form-container input.is-invalid,
.form-container select.is-invalid {
  border-color: rgb(232, 2, 2);;
}

.required {
  color: red;
}

/* Design responsive */
@media (max-width: 768px) {
  .container {
    margin: 20px;
    padding: 20px;
  }
  
  .form-control {
    padding: 10px;
  }
  
  .btn {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }
}